/* light scheme */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #DCAE81; /* Latte - Peach */
  --md-primary-fg-color--light: #DCAE81; /* Latte - Peach */
  --md-primary-fg-color--dark: #B06568; /* Latte - Flamingo */
  --md-accent-fg-color: #B06568; /* Latte - Flamingo */
  --md-header-bg-color: #EFF1F5; /* Latte - Base */
  --md-footer-bg-color: #C6D0F5; /* Latte - Overlay0 */
  --md-default-fg-color: #4C4F69; /* Latte - Text */
  --md-default-fg-color--light: #B06568; /* Latte - Flamingo */
}

/* dark scheme as set in .yaml */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #FAB387; /* Mocha - Peach */
  --md-typeset-color: #D9E0EE !important; /* Mocha - Text */
  --md-default-fg-color: #D9E0EE; /* Mocha - Text */
  --md-typeset-a-color: #F9E2AF !important; /* Mocha - Yellow */
}
