{{ define "main" }}
  <main class="post-main-wrapper px-5">
    <!-- <div class="container"> -->
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <!-- <hr> -->
        
        {{ partial "sidebar-categories.html" . }}
        
        {{ partial "sidebar-tags.html" . }}

        {{ partial "sidebar-series.html" . }}

      </div>
      <!-- /.Sidebar -->

      <!-- Post list -->
      <!-- <div class="content"> -->
      <div class="col-md-9 mt-3">  
        <ul>
          {{ partial "page-heading.html" . }}
        
          {{ if .Content }}
            <div class="post-content markdown">
              {{ .Content }}
            </div>
          {{ end }}  
        </ul>
        <ul>
          
          {{ range .Data.Terms.ByCount }}

            <li class="post-item">
              {{ if eq .Page.Type "series" }}
                {{ $title := add .Name ( add (add " (" (.Count | string)) ")" ) | title }}
                {{ $url := (.Name | urlize) }}
                {{ $data :=  (where $.Site.Data.series.series ".name" .Name) }}
                {{ if gt (len $data) 0 }}   
                  {{ range $data }}
                  {{ partial "sidebar-card.html" (dict "url" $url "title" $title "img_path" ( .img | absLangURL ) "text" .summary ) }}
                  {{ end }}
                {{ else }}
                  {{ partial "sidebar-card.html" (dict "url" $url "title" $title "img_path" ( "img/default.jpg" | absLangURL ) "text" nil ) }}
                {{ end  }}
              {{ else }}
              <a href="{{ .Name | urlize }}"><span>{{ .Name }}</span></a>
              <!-- <span class="ml-3">{{ .Count }} posts</span> -->
            </li>
            {{ end }}
            
          {{ end }}
        </ul>
      </div>
      <!-- /.Post list -->
      
    </div>
  </main>
{{ end }}
