

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- jquery -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery-3.3.1.min.js" | absURL }}"></script><!-- <script>window.jQuery || document.write('<script src="dist/js/vendors/jquery-slim.min.js"><\/script>')</script> -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery.smooth-scroll.min.js" | absURL }}"></script>
<!-- /.jquery -->


<script type="text/javascript" src="{{ "js/vendors/popper.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors/holder.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors-extensions/bootstrap4/bootstrap.js" | absURL }}" ></script>

<script type="text/javascript" src="{{ "js/vendors/mdb/mdb.min.js" | absURL }}"></script>

<script type="text/javascript" src="{{ "js/main.js" | absURL }}"></script>


<!-- Highlight -->
{{ if .Site.Params.highlightjs }}  
  <script src="{{ "js/vendors/highlight.pack.js" | absURL }}"> </script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}
<!-- /.Highlight -->

<!-- KaTeX -->
{{ if .Site.Params.katex }} 
  <script src="{{ "js/vendors/katex/katex.min.js" | absURL }}"> </script>
  <script src="{{ "js/vendors/katex/contrib/auto-render.min.js" | absURL }}"></script>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          renderMathInElement(document.body);
      });
  </script>
{{ end }}
<!-- /.KaTeX -->

{{/*Load Disqus Count JS*/}}
{{ with $.Site.DisqusShortname }}
<script>
	var disqus_config = function () {
    this.language = '{{ $.Site.LanguageCode | default "pl" }}';
	};
</script>
  <script id="dsq-count-scr" src="//{{ $.Site.DisqusShortname }}.disqus.com/count.js" async></script>
{{ end }}


<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

<!-- mdb -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
<!-- Hotjar Tracking Code for https://codefiber.pl/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:916006,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{{ partial "cookies-info.html" }}
