<header>
<nav>
<ul>
{{ arusahni.html_navigation_links() }}
</ul>
</nav>
<a href="/" class="avatar">&nbsp;</a>
<h1>Marek Wywiał</h1>
<h3>software architect at <a href="http://www.i-dotcom.com">i-dotcom</a></h3>
<ul class="list-inline skills">
    <li>python</li>
    <li>linux</li>
    <li>git</li>
    <li>postgresql</li>
    <li>bash</li>
</ul>
</header>
