<header>
<nav>
<ul>
{{ arusahni.html_navigation_links() }}
</ul>
</nav>
<a href="/" class="avatar">&nbsp;</a>
<h1>Marek Wywiał</h1>
<h3>python developer at <a href="http://www.i-dotcom.com">i-dotcom</a></h3>
</header>
